<!DOCTYPE html>
<html>
    <title>Login page</title>
    <style>
        h1{
            color: red;
        }
    </style>
    <body>
        <%- include('common/header')%>
        <h1>Login Page</h1>
    </body>
</html>